@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Lato:ital,wght@1,300&family=Montserrat&family=Roboto:wght@300&family=Ysabeau+SC:wght@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Caprasimo&family=Lato:ital,wght@1,300&family=Montserrat&family=Roboto:wght@300&family=Ysabeau+SC:wght@1&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', 'Roboto';
    background-color: rgb(101, 17, 181);
    color: rgb(255, 255, 255);
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
nav ul li {
    padding: 10px;
    margin: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
}
.sign{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    float: right;
    text-decoration: underline;
}
.sign:hover {
    color: rgb(101, 17, 181);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    transition: 0.5s;
    text-decoration: none;
}
.logo img{
    padding : 10px;
    border-radius: 50%;
}
.logo {
    display: flex;
    flex-grow: 1;
    font-weight: bolder;
    font-family: 'montserrat';
    align-items: center;
    height: 1.7rem;
    font-size: 1.3rem;
}
.main-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    margin-bottom: 20px;
}
.main-content h1 {
    font-family: 'Arimo';
    font-size: 3rem;
    margin-bottom: 15px;
}
.main-content p {
    font-family: 'roboto';
    font-size: 1.3rem;
    margin-bottom: 15px;
}
.main-content button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(129, 8, 243);
    font-family: 'roboto';
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.5s;
}
.main-content button:hover {
    background-color: rgb(14, 144, 12);
    color: rgb(255, 255, 255);
    transition: 0.5s;
}
.listcontainer {
    display: flex;
    flex-direction: column;
    background-color: #fdfefe;
    color: black;
    font-family: 'montserrat' , sans-serif;
    margin: 25px auto;
    width: 55%;
    border-radius: 15px;
    padding: 20px 35px;
}
.header {
    font-size: 1rem;
    font-family: "Arimo", 'montserrat';
    text-align: left;
    margin-bottom: 10px;
    color: #002765;
}
.header img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding : 10px;
    font-weight: 14px;
}
.search button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: rgb(14, 144, 12);
    color: #fdfefe;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
.task ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    font-family: 'montserret','Arimo';
    font-size: 1.1rem;
}
.task ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 18%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12%;
    left: 8px;
}
.task ul li.checked{
    color: #555;
    text-decoration: line-through;
}
.task ul li.checked::before {
    background-image: url(checked.png);
}

.task ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
.task ul li span:hover{
    background: #edeef0;
}
.copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    padding: 15px;
    margin-top: 10%;
}